/* .home__body {
  padding: 20px;
  overflow-y: scroll;
} */

.home__body {
  box-sizing: border-box;
  background-color: #232526;
  width: inherit;
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.home__body::-webkit-scrollbar {
  width: 9px;
}

/* Track */
.home__body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle */
.home__body::-webkit-scrollbar-thumb {
  background: rgb(129, 119, 119);
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
.home__body::-webkit-scrollbar-thumb:hover {
  background: #009eb3;
}

.card__grid {
  display: flex;
  /* justify-content: space-around; */
}
